base: interactive_3D
window_name: Config testing
version: 4.2
profile: core
clear_color: 1,1,1,1
resource_path_count: 7
resource_path0: Textures, $APP/textures
resource_path1: Textures, $PROJ/data/textures
resource_path2: Shaders, $APP/shaders
resource_path3: Shaders, $PROJ/data/shaders
resource_path4: Models, $PROJ/data/meshes
resource_path5: Materials, $APP/materials
resource_path6: Materials, $PROJ/data/materials
glsl_include_path_count: 2
glsl_include_path0: $PROJ/glsl/shader_blocks
glsl_include_path1: $APP/shader_blocks
